body{
    text-align: center;
}
h1{
    text-shadow: 2px 2px 2px #aaa;
    font-size: 36px;
}
.main{
    background-color: #eee;
    margin: 2% 20%;
    border: 2px solid #001;
    border-radius: 10px;  
    box-shadow: 8px 8px 16px #aaa;
}
.btn{
    height: 250px;
    width: 250px;
    border-radius: 30px;
    border: 7px solid #000;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: #fff  ;
}
.userflash{
    background-color: green;
}
#score{
    position: absolute;
    left: 63%;
    top: 6%;
    text-shadow: 2px 1px 2px #aaa;  
    font-size: 22px;
    animation: score 1s linear infinite;
}
#hscore{
    position: absolute;
    left: 28%;
    top: 6%;
    text-shadow: 2px 1px 2px #aaa;
    font-size: 22px;
    animation: score 1s linear infinite;
}
@keyframes score{
    0%{color: #eee;}
    50%{color: #f00;}
    100%{color: #eee;}
}
div[type='button']:hover{
    transform: scale(1.01);
    box-shadow: 8px 8px 12px #aaa;
    transition: 0.3s ease;
}
